.home {
  > .wrapper {
    @extend %wrapper;
  .headline {
    display: block;
    height: 60vh;
    .wrapper {
      display: block;
      position: relative;
      margin: auto;
      //width: 60%;
      text-align: center;
      .headline__icons {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-basis: fit-content;
        img {
          width: 5vw;
          position: relative;
          object-fit: contain;
          &:nth-child(1) {
            width: 7vw;
          }
          &:nth-child(2) {
            width: 8vw;
            margin-bottom: 20vh;
          }
          &:nth-child(3) {
            width: 5vw;
          }
        }

      }
      .headline__content {
        position: relative;
        padding-top: 30vh;
        h1 {
          @extend %title;
        }
        span {
          @extend %title--headline;
        }
      }

    }
  }
  .projects {
    margin-top: calc($gutter-h * 2);

    .wrapper {
      margin: auto;
      ul {
        li {
          display: block;
          margin-top: calc($gutter-h * 2);
          &:nth-child(odd) {
            text-align: right;
          }
          span {
            display: block;
            @extend %block__title;
            margin-bottom: calc($gutter-h / 2);
          }
          img {
            width: 100%;
          }
        }
      }
    }
  }
  .partners {
    .wrapper {
      display: block;
      margin: auto;
      margin-top: calc($gutter-h * 4);
      > img {
        width: 5vw;
        position: relative;
        object-fit: contain;
        display: block;
        margin: auto;
      }
      h2 {
        @extend %section--title;
        text-align: center;
        margin-top: calc($gutter-h / 2);
      }
      ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: calc($gutter-h);
        li {
          a{
            display: flex;
            justify-content: center;
            img {
              width: 50%;
              filter: var(--filter-partners);
              opacity: .5;
            }
          }
        }
      }

    }
  }
  }
}
