footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  .wrapper {
    @extend %wrapper;
    .navigation__left {
      width: 33.33%;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 25px;
    }
    .navigation__right {
      width: 33.33%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      gap: 25px;
      .socials {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 25px;
        img {
          filter: var(--filter-partners);
          width: 25px;
        }
      }
    }
    .informations {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    .copyright {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-self: center;
      img {
        margin: calc($gutter-h / 4) calc($gutter-w / 4);
      }
    }
    a {
    @extend %content;
    }
    span {
      @extend %content;
    }
  }
  }
}
