@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
%font {
  font-family: 'Outfit', sans-serif;
  font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );
}
%navigation__label {
  @extend %font;
  font-weight: 500;
  color: var(--color);
}

%title {
  @extend %font;
  color: var(--color);
  --minFontSize: 36px;
  --maxFontSize: 96px;
  --scaler: 10vw;

  text-transform: uppercase;
  font-weight: 900;
}
%title--headline {
  @extend %font;
  color: var(--color);
  --minFontSize: 16px;
  --maxFontSize: 24px;
  --scaler: 4vw;

  opacity: .5;
  font-weight: 500;
}
%section--title {
  @extend %font;
  color: var(--color);
  --minFontSize: 24px;
  --maxFontSize: 64px;
  --scaler: 3vw;

  text-transform: uppercase;
  font-weight: 900;
}
%section--headline {
  @extend %font;
  color: var(--color);
  --minFontSize: 16px;
  --maxFontSize: 24px;
  --scaler: 3vw;

  font-weight: 500;
}
%block__title {
  @extend %font;
  color: var(--color);
  --minFontSize: 16px;
  --maxFontSize: 24px;
  --scaler: 4vw;

  text-transform: uppercase;
  font-weight: 500;
}
%content {
  @extend %font;
  color: var(--color);
  font-weight: 400;
  line-height: 22px;
}
%external__link--title {
  @extend %font;
  color: var(--color);
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 500;
}
%internal__link--title{
  @extend %font;
  --minFontSize: 16px;
  --maxFontSize: 24px;
  --scaler: 4vw;

  font-weight: 900;
}
%email__label{
  @extend %font;
  color: var(--color);
  --minFontSize: 32px;
  --maxFontSize: 96px;
  --scaler: 6vw;

  font-weight: 500;
}
