@import "vars";
%wrapper {
  display: block;
  margin: $gutter-h $gutter-w;
}
%tech-stack {
  display: inline-block;

  a {
    display: inline-block;
    padding: 5px 15px;
    white-space: nowrap;
    margin: 5px;
    border-radius: 25px;
    border: 1px solid var(--color);

    &:hover {
      color: var(--bg);
      background: var(--color);
      transition: 0.3s ease-in;
    }
  }
}

